.App {
  background-color: #18191a;
  display: block;
  color: rgb(255, 255, 255);
  height: 100vh;
}
.navbar{
  overflow: hidden;
  background-color: #3c3c3c;
}
.editorTop{
  display: flex;
  justify-content: flex-end;
}

.runButton{
  background-color: #6cae49;
  /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.clearButton{
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
th,
td {
  border: 1px solid #0acfa9;
  margin: 0px 0px;
  padding: 5px 5px;
}
tr{
  text-align: center;
}
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
th {
  background-color: #04AA6D;
  color: white;
}
tr:hover {
  background-color: coral;
}
.Pane1,
.Pane2 {
  overflow: auto;
}
.Pane2::-webkit-scrollbar {
  display: none;
}